:root{
   --color-theme: #289BDE;
}

body{
   font-family: 'Inter', sans-serif;
}
.btn-theme{
   background-color: var(--color-theme);
}
.btn-theme-outline{
   color: var(--color-theme);
   border: 1px solid var(--color-theme);
}

/* banner carousel starts */
.car-item-1,.car-item-2,.car-item-3{
   padding: 10rem 0;
   background-color: rgba(29, 29, 29, 0.7);
   background-blend-mode: overlay;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}
.car-item-1{
   background-image: url(../images/man-working.jpg);
}
.car-item-2{
   background-image: url(../images/woman-laptop.jpg);
}
.car-item-3{
   background-image: url(../images/code.jpg);
}
/* banner carousel ends */