:root{
   --color-theme: #289BDE;
}

body{
   font-family: 'Inter', sans-serif;
}
.btn-theme{
   background-color: var(--color-theme);
   color: #ffffff;
}
.btn-theme-outline{
   background-color: transparent;
   color: var(--color-theme);
   border: 1px solid var(--color-theme);
}